{% extends "AppBundle::base.html.twig" %}

{% block title %} Cursos {% endblock %}

{% block content %}
	
	<div align="center">

		<h2>Tabla de Cursos</h2>
		<hr/>
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<table id="tabla" class="table table-responsive" style="width:80%">

			<thead>
				<tr>
					<th>Curso</th>
					<th>Tutor</th>
					<th>Descripción</th>
					{% if app.user != null %}	
					<th>Editar</th>
					<th>Borar</th>
					<th>Agregar</th>
					<th>Inscrito</th>
					{% endif %}	
					
				</tr>
			</thead>
			<tbody>
			
			{% for curso in cursos %}
				<tr>
					<td>{{curso.nombreCurso}}</td>
					<td>{{curso.tutor}}</td>
					<td>{{curso.descripcion}}</td>
				{% if app.user != null %}
					<td>
						<a href="{{path("Blog_edit_cursos",{"id":curso.id})}}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> </a> 	
					</td>
					<td>
						{% if curso.persCurs|length == 0 %} 
							<a href="{{path("Blog_delele_cursos",{"id":curso.id})}}" class="btn btn-danger">
          					<span class="glyphicon glyphicon-remove"></span> </a>
        				{% else %}
        					Creado por otro usuario
        				{% endif %}
					</td>
					<td>
						<a href="{{path("Blog_new_cursos",{"id":curso.id})}}" class="btn btn-success">
          				<span class="glyphicon glyphicon-ok"></span></a>
          			</td>
          			<td>
						{% for persona in personas %} {% for pc in perscurs %}
						{% if (persona.id == app.user.id) and (pc.persona == persona) and (pc.cursos == curso)%} 
						{% if (pc.cursos == curso) %} 
						
							<a class="btn btn-info">
	          					<span class="glyphicon glyphicon-ok-sign"> si</span> 
	          				</a>
	        			
	          			{% endif %}
	        			{% endif %}	
						{% endfor %} {% endfor %}
					</td>
				{% endif %}


				</tr>
			{% endfor %}
			
			</tbody>

		</table>


		<script>
			$.extend( true, $.fn.dataTable.defaults, {
			    "searching": false,
			    "ordering": false,
			    "info":   false
			    
			} );

			$(document).ready(function() {
			    $('#tabla').DataTable( {
	    	
			        dom: 'tBfrip',
			        buttons: [
			         	'excel',
                    	{   
                    	download: 'open',
                        title: "Cursos",
                        header: true,
                        extend: 'pdf',
                        text: 'PDF',
                        pageSize: 'LETTER',
							
                        {% if app.user != null %}
	                        message: 'Lista de cursos inscritos pertenecientes a {{personas[app.user.id-1].nombre}} {{personas[app.user.id-1].apellido}}',
	                                               
							exportOptions: { columns: [0,1,2,6] }

						{% else %}
							message: 'Lista de Cursos Disponibles',

                        {% endif %}	
                    	},
                    	
                	]

			    } );
			} );

		</script>
			{% if app.user != null %}
				<a href="{{path("Blog_add_cursos")}}" class="btn btn-success">Agregar Nuevo Curso</a>
			{% endif %}
		<hr/>
	</div>


	<div class="clearfix"></div>


{% endblock %}

