{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	
	<div class="col-lg-4">

		<h2>Telefonos del Usuario</h2>
		<hr/>
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<table class="table table-bordered">
			<tr>
				<th>Telefono</th>
				<th>Editar</th>
				<th>Borar</th>
			<tr>
			{% for telefono in telefonos %}
				
				<tr>
					<td>{{telefono.numero}}</td>
					<td>
						<a href="{{path("Blog_edit_telefonos",{"id":telefono.id})}}" class="btn btn-warning">
          					<span class="glyphicon glyphicon-edit"></span> Editar 
					</td>
					<td>
						{% if telefono.persona|length == 0 %} 
							<a href="{{path("Blog_delele_telefonos",{"id":telefono.id})}}" class="btn btn-danger">
          					<span class="glyphicon glyphicon-remove"></span> Borrar 
        					</a>
        				{% else %}
        					Creado por otro usuario
        				{% endif %}
						 	
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href="{{path("Blog_add_telefonos")}}" class="btn btn-success">
		<span class="glyphicon glyphicon-ok"></span>Agregar Otro Numero</a>
		<hr/>
	</div>


	<div class="clearfix"></div>


{% endblock %}