{% extends "AppBundle::layout.html.twig" %}

{% block title %} Telefonos {% endblock %}

{% block content %}
	
	<div align="center" >

		<h2>Numeros Telefonicos</h2>
		<hr/>
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<table class="table table-responsive" style="width:40%">
			<tr>
				<th>Telefono</th>
				<th>Editar</th>
				<th>Borar</th>
			<tr>
			{% for persona in personas %}
				{% for telefono in telefonos %}
					{% if persona.id == app.user.id %}
						{% if telefono.persona == persona %}
						
						<tr>
							<td>{{telefono.numero}}</td>
							<td>
								<a href="{{path("Blog_edit_telefonos",{"id":telefono.id})}}" class="btn 	btn-warning">	
	          						<span class="glyphicon glyphicon-edit"></span> </a> 	
							</td>	
							<td>	
								<a href="{{path("Blog_delele_telefonos",{"id":telefono.id})}}" class	="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>	
	        				</td>	
						</tr>	
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</table>
		<a href="{{path("Blog_add_telefonos")}}" class="btn btn-success">
		<span class="glyphicon glyphicon-ok"></span>Agregar Otro Numero</a>
		<hr/>
	</div>


	<div class="clearfix"></div>


{% endblock %}