{% extends "AppBundle::layout.html.twig" %}

{% block content %}
<div class= "container">
    <div class="col-lg-4">

        <h2>Información Personal</h2>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
            <tr>
           	
            {% if (app.user.id is defined) %}
            {% for persona in personas %}
                
                {# {% if (persona.id == app.user.id) and (app.user.id is defined) %} #}
                {% if (app.user.id is defined) and (persona.id == app.user.id) %}
                    <tr>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>

                        <td>
                    {% for telefono in telefonos %}

                        {% if telefono.persona == persona %}

                           
                            {{telefono.numero}} {{"/ "}}

                        {% endif %}
                    {% endfor %}
                    </td>
                   
                {% endif %}

            {% endfor %}
            {% else %}
                    <p> Identificate </p>
            {% endif %}           
        </table>
       
        <hr/>
    </div>
</div>


    <div class="clearfix"></div>


{% endblock %}