{% extends "AppBundle::base.html.twig" %}

{% block title %} Información {% endblock %}

{% block content %}

    <div class="center-block"  align="center">

        <h1> Información Personal </h1>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table id="tabla" class="table table-striped " style="width:60%" >

            
            <thead>
                <tr>
                     <td></td><td></td><td></td>
                
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{persona.nombre}} {{persona.apellido}}</td>
                    <td>
                        <a href="{{path("Blog_edit_persona",{"id":persona.id})}}" class="btn btn-warning">   
                        <span class="glyphicon glyphicon-edit"></span> </a>
                    </td>
                </tr>
                <tr>   
                    <th>Telefonos</th>
                    <td>
                        {% for telefono in telefonos %}
                            {{telefono.numero}} </br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path("Blog_index_telefonos")}}" class="btn btn-info">   
                        <span class="glyphicon glyphicon glyphicon-pencil"></span> </a> 
                    </td>
                </tr>
                <tr>
                    <th>Cursos</th>
                    <td>
                        {% for perscur in perscurs %}
                            {% for cursos in cursos %}
                                {% if perscur.cursos == cursos %}
                                    {{cursos.nombreCurso}} {{" : "}} {{cursos.descripcion}} </br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path("Blog_index_cursos")}}" class="btn btn-info">   
                        <span class="glyphicon glyphicon glyphicon-pencil"></span> </a>     
                    </td>
                </tr>
            </tbody>

                 
        </table>

        <script>
            $.extend( true, $.fn.dataTable.defaults, {
                "searching": false,
                "ordering": false,
                "info":   false
               
            } );

            $(document).ready(function() {
                $('#tabla').DataTable( {
                    dom: 'tBfrip',
                    buttons: [
                        'excel',
                        {   
                        title: "Información Personal",
                        message: "Datos Generales",
                        header: true,
                        extend: 'pdf',
                        text: 'PDF',
                        pageSize: 'LETTER',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            },
                           
                        }   
                        }
                    ]
                } );
            } );
        </script>


       <hr/>
    </div>
    <div class="clearfix"></div>


{% endblock %}