{% extends "AppBundle::layout.html.twig" %}

{% block title %} Información {% endblock %}

{% block content %}

    <div class="center-block"  align="center">

        <h2>Información Personal</h2>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-bordered " style="width:60%" >

            <div>
                <tr>
                    <th>Nombre</th>
                    <td>{{persona.nombre}} {{persona.apellido}}</td>
                    <td>
                        <a href="{{path("Blog_edit_persona",{"id":persona.id})}}" class="btn btn-warning">   
                        <span class="glyphicon glyphicon-edit"></span> </a>
                    </td>
                </tr>
                <tr>   
                    <th>Telefonos</th>
                    <td>
                        {% for telefono in telefonos %}
                            {{telefono.numero}} </br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path("Blog_index_telefonos")}}" class="btn btn-info">   
                        <span class="glyphicon glyphicon glyphicon-pencil"></span> </a> 
                    </td>
                </tr>
                <tr>
                    <th>Cursos</th>
                    <td>
                        {% for perscur in perscurs %}
                            {% for cursos in cursos %}
                                {% if perscur.cursos == cursos %}
                                    {{cursos.nombreCurso}} {{" : "}} {{cursos.descripcion}} </br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path("Blog_index_cursos")}}" class="btn btn-info">   
                        <span class="glyphicon glyphicon glyphicon-pencil"></span> </a>     
                    </td>
                </tr>
            </div>      
        </table>
       <hr/>
    </div>
    <div class="clearfix"></div>


{% endblock %}